.v-flex__flex {
  display: -webkit-flex; /* Safari */
  display: flex;
}

.v-flex__inline-flex {
  display: -webkit-inline-flex; /* Safari */
  display: inline-flex;
}

.v-flex__block {
  display: block;
}

.v-grid__flex {
  @extend .v-flex__flex;
}

.v-grid__inline-flex {
  @extend .v-flex__inline-flex;
}

.v-grid__block {
  @extend .v-flex__block;
}
