@mixin flex {
  display: flex;
  /* Safari */
  display: -webkit-flex;
}

@mixin inline-flex {
  display: inline-flex;
  /* Safari */
  display: -webkit-inline-flex;
}

@mixin block {
  display: block;
}

.v-flex {
  height: 100%;

  & .v-flex {
    height: auto;
    flex: 1;
  }

  &.v-flex__flex {
    @include flex;
  }

  &.v-flex__inline-flex {
    @include inline-flex;
  }

  &.v-flex__block {
    @include block;
  }

  &.v-flex__fixed-width {
    width: 0;
  }

  &.v-flex__fixed-height {
    height: 0;
  }

  &.v-flex__fixed {
    @extend .v-flex__fixed-width;
    @extend .v-flex__fixed-height;
  }
}

.v-grid {
  @include flex;
}
